.App {
  text-align: center;
}

.wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
}
.isFetching {
  position: absolute;
  top:25%;
  left: 50%;
}